body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Send the video to the background */
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.menu {
    position: relative;
    z-index: 1; 
    background-color: rgb(23, 0, 43);
    height: 600px;
    width: 21em;
    border-radius: 10px;
    background-image: url('assets/image/menu3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header h3{
    margin-top: 2rem;
    color: rgb(255, 255, 255);
    position: relative;
    z-index: 1;
}

.header{
    display: flex;
    justify-content: center;
}

.div2{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(5, 0, 71);
    padding: 20px 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.div2 a{
    color: white;
    opacity: 100%;
}
.selection{
    height: 75.5%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.title{
    background-color: #3498db;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(243, 195, 37, 0.8); 
    margin: 0px 40px;
    margin-top: 90px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(221, 0, 0);
    height: 180px;
    border-radius: 10px;
}

.title p{
    margin-top: -20px;
    color: white;
}
.title b{
    font-size: 60px;
    background: linear-gradient(to bottom, rgb(228, 217, 122), #ffffff);
    -webkit-background-clip: text;
    color: transparent;
}

.start-amount{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.start-amount input{
    height: 50px;
    border-radius: 10px;
    width: 75%;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

.start-amount button{
    height: 50px;
    margin-top: 20px;
    width: 75%;
    background-color: rgb(5, 0, 71);
    border: none;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    box-shadow: 0 0 10px rgba(37, 92, 243, 0.8); 
}

.start-amount button:hover{
    background-color: rgb(9, 1, 119);
}

a{
    text-decoration: none;
}