*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.div1{
    padding: 20px;
    padding-bottom: 30px;
    margin-top: 20px;
    border: 1px solid gray;
    height: 450px;
    width: 300px;
    border-radius: 10px;
    background-color: rgb(49, 49, 49);
}

section{
    display: flex;
    justify-content: center;
    width: 100%;
}   

.screen{
    margin: 20px;
    border: 2px solid yellow;
    height: 100px;
    border-radius: 10px;
    background-color: rgb(7, 0, 0);
}

input{
    font-family: 'Courier New', Courier, monospace;
    background-color: transparent;
    border: transparent;
    color: yellow;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    font-size: 50px;
    text-align: end;
    padding: 0px 20px;
}

.pad{
    height: 350px;
    margin: 20px;
}

.keypad{
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.keypad button{
    border: none;
    border-radius: 10px;
    width: 20%;
    height: 40px;
    background-color: yellow;
    font-size: 30px;

}

.keypad button:hover{
    border: 3px solid rgb(49, 49, 49);
}

.clear{
    display: flex;
    justify-content: space-between;
}

.clear button{
    background-color: yellow;
    font-size: 20px;
    padding: 10px;
    border: none;
    width: 47%;
    border-radius: 10px;
}

.div2{
    padding: 20px;
    margin-top: 20px;
    border: 1px solid gray;
    height: 20px;
    width: 300px;
    border-radius: 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
}


section2{
    display: flex;
    justify-content: center;
    width: 100%;
}

a{
    text-decoration: none;
    color: gray;
    font-size: 20px;
}